{% extends 'quill_app/_base.html' %}
{% block authorization %}
    <div style="width:100%; top:0; position: fixed; margin: .3em;border: 1px solid lightgray; border-radius: 5px; padding: .2em">
        {% if not current_user.is_anonymous %}
            <span>Welcome, <a href="{% url 'profile' %}">{{ current_user }}</a></span>
        {% else %}
            <span>
                <a class="button" href="{% url 'login' %}"> Sign in</a>
                <a class="button" href="{% url 'register' %}">Sign up</a>
            </span>
        {% endif %}
    </div>
{% endblock %}
{% block master %}
    <nav>
        <div>this is filter panel</div>
    </nav>
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}