{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quill Internet Store</title>
    <link rel="stylesheet" href="{% static 'quill_app/tacit.min.css' %}">
    <link rel="stylesheet" href="{% static 'quill_app/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'quill_app/favicon.ico' %}"/>
    <script type="text/javascript" src="{% static 'quill_app/jquery-3.2.1.min.js' %}"></script>
</head>
<body>
    <div class="title"><a href="{% url 'index' %}">Quill Store</a></div>
    <div>World's largest computer parts store</div>
<main>
<nav>
    <div>this is filter panel</div>
</nav>
<div id="main">
    {% block content %}
    {% endblock %}
</div>
</main>
<footer>
    <div>
        <nav>
            <ul>
                <li>Start page</li>
                <li>Prev page</li>
                <li>4</li>
                <li>Next page</li>
                <li>Last page</li>
            </ul>
        </nav>
    </div>
    <div>
        Copyright HyperFashionDesigns (c) 2017
    </div>
</footer>

</body>
</html>