{% extends 'quill_app/base.html' %}
{% block content %}
    <div class="grid">
        {% for product in prod %}
            <div class="grid-item">
                <h1>{{ product.product_title }}</h1>
                <img src="{{ product.image_url }}" alt="{{ product.product_title }}" class="grid-image"/>
                <p>{{ product.product_description }}</p>
                <a href="{% url 'quill_app.views.product' %}?prod_id={{ product.id }}">Подробнее</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}