{% extends 'quill_app/_masterview.html' %}
{% block content %}
    <div class="wrapper">
        {% for product in prod %}
            <table>
                <tr>
                    <td><h1>{{ product.product_title }}</h1></td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ product.image_url }}" alt="{{ product.product_title }}"/></td>
                </tr>
                <tr>
                    <td><p>{{ product.product_description }}</p></td>
                </tr>

                <tr>
                    <td><a href="{% url 'quill_app.views.product' %}/{{ product.id }}" class="button">Подробнее</a></td>
                </tr>

            </table>
        {% endfor %}
    </div>
    <nav>
        <div>
            <ul>
                <li>Start page</li>
                <li>Prev page</li>
                <li>4</li>
                <li>Next page</li>
                <li>Last page</li>
            </ul>
        </div>
    </nav>
{% endblock %}