body {
    margin: 10pt;
    padding: 3pt;
    overflow: auto;
    font-family: "Segoe UI";
    height: 95%;
}

menu-left {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: wrap;
    left: 0;
    width: 20%;
    max-width: 100pt;
    float: right;
}

header .title {
    text-align: center;
    font-size: 24pt;
}

header .title a {
    color: blue;
    font-style: normal;
}

header .title a:visited {
    color: blue;
    font-style: normal;
}

footer {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    align-items: baseline;
}

footer div {
    margin: 20pt;
    display: block;
    max-width: 70%;

}

.grid {
    display: flex;
    justify-content: center;
    width: 85%;
}

.grid-item {
    display: inline-block;
}

.grid-image {
    width: 120pt;
    height: 180pt;

}