/*body {
    margin: 10pt;
    padding: 3pt;
    overflow: auto;
    font-family: "Segoe UI";
    height: 95%;
    width: 78%;
    max-width: 987px;
}

menu-left {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: wrap;
    left: 0;
    width: 20%;
    max-width: 100pt;
    float: right;
}

header .title {
    text-align: center;
    font-size: 24pt;
}

header .title a {
    color: blue;
    font-style: normal;
}

header .title a:visited {
    color: blue;
    font-style: normal;
}

footer {
    position: fixed;
    bottom: 0;
    top: auto;
    width: 75%;
    text-align: center;
}

footer nav {
    margin: 20pt;
    display: block;
}

.grid {
    display: flex;
    justify-content: center;
    width: 85%;
}

.grid-item {
    display: inline-block;
}

.grid-image {
    width: 120pt;
    height: 180pt;

}*/