html, body, form {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

menu-left {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: wrap;
    left: 0;
    width: 20%;
    max-width: 100pt;
    float: right;
}

header {
    position: fixed;
    top: 0;
    height: 25pt;
    width: 100%;
}